*:not(input):not(textarea) {
	-webkit-touch-callout:none !important;
	  -webkit-user-select:none !important;
			  user-select:none !important;
			outline-style:none !important;
}
header nav a.active{
	text-decoration: underline;
}

/* Alapszínek */
.custom-body {
	background-color: #F5E6DF;
	color: #4B5E4B;
}
  
/* Címek és kiemelések */
h1, h2, h3 {
	color: #4B5E4B;
}
  
.p {
	color: #4B5E4B;
}
  
a {
	color: #8AAC9B;
}

a:hover {
	color: #4B5E4B;
}

#login {
	background-color: #8AAC9B;
}

#register {
	background-color: #8AAC9B;
}
  
/* Gombok */
.btn-brown {
	--bs-btn-color: #fff !important;
	--bs-btn-bg: #94614C !important;
	--bs-btn-border-color: #a87661 !important;
	--bs-btn-hover-color: #fff !important;
	--bs-btn-hover-bg: #a87661 !important;
	--bs-btn-hover-border-color: #a87661 !important;
	--bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
	--bs-btn-active-color: #fff !important;
	--bs-btn-active-bg: #a77f6e !important;
	--bs-btn-active-border-color: #a77f6e !important;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
	--bs-btn-disabled-color: #fff !important;
	--bs-btn-disabled-bg: #a87661 !important;
	--bs-btn-disabled-border-color: #a87661 !important;
  }

/* Kereső mező és lista */
input, select, .list-group-item {
	background-color: #F5E6DF;
	border: 1px solid #94614C;
	color: #4B5E4B;
}

.input::placeholder {
	color: #8AAC9B;
}
  
/* Képgaléria */
.img-thumbnail {
	border: 2px solid #AE8069;
	border-radius: 8px;
}

/* Header és footer színének beállítása */
.custom-header {
	background-color: #4B5E4B;
}
  
.custom-footer {
	background-color: #4B5E4B;
}

.loginpic {
	display: flex; 
	flex-direction: column; 
  justify-content: center; align-items: center; 
  min-height: 100vh; 
  background-image: url('../media/image/libraryinterior/bookshelveslogin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.registerpic{
	display: flex; 
	flex-direction: column; 
  justify-content: center; align-items: center; 
  min-height: 100vh; 
  background-image: url('../media/image/libraryinterior/bookshelvesregister.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profilepic{
	display: flex; 
	flex-direction: column; 
  justify-content: center; align-items: center; 
  min-height: 100vh; 
  background-image: url('../media/image/libraryinterior/bookshelvesprofile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginborder{
	border-color: #4B5E4B;
}

.bglogin {
	background-color: #F5E6DF;
}

.titleuser{
	color: #4B5E4B;
}

.img-hover-zoom img {
    transition: transform 0.3s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.1);
}

.blog-temp {
	background: url('../media/image/libraryinterior/libraryblog.jpg') center/cover no-repeat;
	height: 400px; 
}

.custom-btn {
	border: 2px solid white;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}

.custom-btn:hover {
	background: white;
	color: black;
}

.card-footer{
	background-color: #4B5E4B;
}

.modal-header{
	background-color: #4B5E4B;
}

.modal-title{
	color: white;
}
.modal-body{
	background-color: #F5E6DF;
}

.modal-footer{
	background-color: #4B5E4B;
}

.text-justify{
	text-align: justify;
}

header nav a {
    text-decoration: none !important;
}

/* Menü animáció */
.custom-nav-link {
    position: relative;
    transition: color 0.3s ease-in-out;
    padding-bottom: 5px;
}

.custom-nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
}

.custom-nav-link:hover::after,
.custom-nav-link:focus::after,
.custom-nav-link.active::after {
    width: 100%;
}

.custom-icon {
    width: 35px;
    height: auto;
}

.custom-accordion-btn {
    background-color: #94614C !important;
    color: #fff !important;
    border: 1px solid #a87661 !important;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: none !important;
    outline: none !important;
}

.custom-accordion-btn:not(.collapsed) {
    background-color: #a77f6e !important;
    color: #fff !important;
    border-color: #a77f6e !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important; /* Finom belső árnyék */
}

.custom-accordion-btn:hover {
    background-color: #a87661 !important;
    border-color: #a87661 !important;
}

.custom-accordion-btn:focus {
    box-shadow: none !important; /* Fókusz körvonal eltüntetése */
    outline: none !important; /* Külső kékes körvonal eltüntetése */
}

.custom-accordion-body {
    background-color: #f8f1ee !important;
    color: #5a3e32 !important;
    border: 1px solid #a87661 !important;
    border-top: none;
}
