<div id="blogCarousel" 
     class="carousel slide w-100" 
     data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="blog-temp d-flex flex-column justify-content-center 
                        align-items-center">
                <h1 class="fw-bold text-white text-center">
                    MOK KÖNYVTÁR BLOGOLDALA
                </h1>
                <p class="fs-4 text-white text-center">
                    Hírek és érdekességek a könyvek és könyvtárak világáról
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <h1 class="text-center">
            Blogok
        </h1>
    </div>

    <div class="row mt-4 justify-content-center">

        <!-- Cards -->
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6 mb-4 d-flex" 
             ng-repeat="x in blog">
            <div class="card border-rounded">
                <img ng-src="./media/image/blogs/{{x.image_url}}" 
                    class="card-img-left" 
                    alt="x.name">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">
                        {{x.name}}
                    </h5>
                    <p class="card-text text-justify">
                        {{x.short_description}}
                    </p>
                </div>
                <div class="card-footer bg-gradient shadow-lg">
                    <a class="btn btn-brown px-4 py-2 rounded-pill shadow"
                       data-bs-toggle="modal" 
                       ng-attr-data-bs-target="#description_modal"
                       ng-click="showDescription(x.id)">
                       Bővebben
                    </a>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" 
             ng-attr-id="description_modal" 
             tabindex="-1">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header bg-gradient shadow-lg">
                        <h3 class="modal-title justify-content-center">
                            {{selectedBlog.name}}
                        </h3>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-flex flex-column justify-content-center 
                                                align-items-center">
                                        <img ng-src="./media/image/blogs/{{selectedBlog.img_top}}">  
                                    </div>
                                </div>
                            </div>
                        </div><br>

                        <div class="row mb-4 flex-row"
                             ng-repeat="x in blogDescription track by $index"
                             ng-class="{'flex-row-reverse': !x.img_align_end}">

                            <div class="col-6"
                                 ng-if="x.img">
                                <img ng-src="./media/image/blogs/{{x.img}}" 
                                     class="img-fluid">
                            </div>
                            <div ng-class="{'col-6': x.img}">
                                <h4>{{$index+1}}. {{x.heading}}</h4><br>
                                <p class="text-justify">
                                    {{x.description}}
                                </p><br>
                            </div>
                        </div>

                        <div class="row mb-4 ">
                            <h3>{{selectedBlog.conclusion}}</h3>
                            <p class="text-justify">
                                {{selectedBlog.conclusion_description}}
                            </p><br>
                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer bg-gradient shadow-lg">
                        <button type="button" 
                                class="btn btn-danger px-4 py-2 rounded-pill shadow" 
                                data-bs-dismiss="modal">
                                Bezárás
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>