<div class="rentpic">
    <div class="container-fluid justify-content-center 
                align-items-center">
        <div class="row mt-5 mb-3 
                    justify-content-center">
            <div class="col-11 col-md-10 col-lg-9 
                        col-xl-8 col-xxl-7 mt-5 mb-3">
                <div class="card border-3  bglogin loginborder shadow-sm">
                    <h3 class="titleuser text-center mt-3">Kölcsönzéseim</h3>

                    <!-- rent history -->
                    <div class="card-body text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th ng-repeat="(k,v) in rents[0]">
                                        {{k}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="rent-item" 
                                    ng-repeat="rent in rents">
                                    <td ng-repeat="(k,v) in rent">
                                        {{v}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row justify-content-end">


                            <!-- cancel -->
                            <button type="button"
                                    class="btn btn-danger w-auto px-5 me-3 text-capitalize mt-3"
                                    ng-click="cancel()">
                                    Mégsem
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>